[submodule "ext/json"]
	path = ext/json
	url = ../../nlohmann/json.git
[submodule "ext/cpr"]
	path = ext/cpr
	url = ../../libcpr/cpr.git
[submodule "ext/cryptopp-cmake"]
	path = ext/cryptopp-cmake
	url = ../../abdes/cryptopp-cmake.git
[submodule "ext/cryptopp"]
	path = ext/cryptopp
	url = ../../weidai11/cryptopp.git
[submodule "ext/tomlplusplus"]
	path = ext/tomlplusplus
	url = ../../marzer/tomlplusplus.git
[submodule "ext/FTXUI"]
	path = ext/FTXUI
	url = ../../ArthurSonzogni/FTXUI.git
